@model SportsLeague.Models.Division

@{
    ViewData["Title"] = "Division - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this?</h2>
<hr />
@Html.DisplayNameFor(model => model.DivisionName): @Html.DisplayFor(model => model.DivisionName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")
